:root {
    font-family: sans-serif;
    font-size: calc(0.6em + 0.66vw);
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}
.container {
    min-height: 300px;
    margin-top: 100px;
    border: 3px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container > div {
    width: 100px;
    height: 100px;
    border: 1px solid;
}
.container .red {
    background-color:tomato;
    width: 300px;
    height: 100px;
}